<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('home') }}">
        <img src="https://cdn-images-1.medium.com/max/1200/1*VWIbnJHa-4RnKL4lNliYCA.png" style="max-width: 20px">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product_index') }}">{{'header.title.products' | trans}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('client_index') }}">{{'header.title.clients' | trans}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('orderplaced_index') }}">{{'header.title.orders' | trans}}</a>
            </li>
        </ul>
    </div>
</nav>