<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% include 'layouts/_stylesheets.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="d-flex flex-column">

        {% include 'layouts/_navbar.html.twig' %}

        <div class="container page-content" >
            {% block body %}{% endblock %}
        </div>

        {% include 'layouts/_footer.html.twig' %}

        {% block javascripts %}
            {% include 'layouts/_javascripts.html.twig' %}

        {% endblock %}
    </body>
</html>
