{% extends 'base.html.twig' %}

{% set title = 'header.title.start' | trans %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Prueba Corporalabs</h1>
        <p class="lead">Manuel David García Cárdenas</p>
        <hr class="my-4">
        <p>Para acceder a la API deberá hacerse en la ruta /api/orders/list/{idCliente}</p>
        <p>Usuario y contraseña -> admin:admin</p>
    </div>
{% endblock %}