{% extends 'base.html.twig' %}

{% set title = 'header.title.orders' | trans %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h1>{{ 'header.title.orders' | trans }}</h1>

    <table id="table" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>{{'list.header.id' | trans}}</th>
                <th>{{'list.header.created' | trans}}</th>
                <th>{{'list.header.price' | trans}}</th>
                <th>{{'list.header.products' | trans}}</th>
                <th>{{'list.header.client' | trans}}</th>
                <th>{{'list.header.actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for orderPlaced in orderPlaceds %}
            <tr>
                <td>{{ orderPlaced.id }}</td>
                <td>{% if orderPlaced.created %}{{ orderPlaced.created|date('Y-m-d') }}{% endif %}</td>
                <td>{{ orderPlaced.amount }}</td>
                <td>{{ orderPlaced.products |join(', ')}}</td>
                <td>{{ orderPlaced.client }}</td>
                <td>
                    <span>
                        <a class="btn btn-primary" href="{{ path('orderplaced_edit', { 'id': orderPlaced.id }) }}">
                            <i class="fa fa-edit"></i>
                            {{'action.edit' | trans}}
                        </a>
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row-fluid">
        <div class="span12">
            <a class="btn btn-primary" href="{{ path('orderplaced_new') }}">
                <i class="fa fa-plus-circle"></i>
                {{'action.create.order_placed' | trans}}
            </a>
        </div>
    </div>
{% endblock %}
