{% extends 'base.html.twig' %}

{% set title = 'header.title.orders' | trans %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h1>{{ 'header.title.orders' | trans }} - {{ 'action.new' | trans }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="{{'action.create.order_placed' | trans}}" />
    {{ form_end(form) }}

    <div class="border-top my-3"></div>

    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-dark" href="{{ path('orderplaced_index') }}">{{'action.back_to_list' | trans}}</a>
        </div>
    </div>
{% endblock %}
