{% extends 'base.html.twig' %}

{% set title = 'header.title.products' | trans %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h1>{{ 'header.title.products' | trans }}</h1>

    <table id="table" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>{{'list.header.id' | trans}}</th>
                <th>{{'list.header.name' | trans}}</th>
                <th>{{'list.header.price' | trans}}</th>
                <th>{{'list.header.actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <span>
                        <a class="btn btn-primary" href="{{ path('product_edit', { 'id': product.id }) }}">
                            <i class="fa fa-edit"></i>
                            {{'action.edit' | trans}}
                        </a>
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row-fluid">
        <div class="span12">
            <a class="btn btn-primary" href="{{ path('product_new') }}">
                <i class="fa fa-plus-circle"></i>
                {{'action.create.product' | trans}}
            </a>
        </div>
    </div>
{% endblock %}
