{% extends 'base.html.twig' %}

{% set title = 'header.title.clients' | trans %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h1>{{ 'header.title.clients' | trans }} - {{ 'action.edit' | trans }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="{{'action.edit' | trans}}" />
    {{ form_end(edit_form) }}

    <div class="border-top my-3"></div>

    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-dark" href="{{ path('client_index') }}">{{'action.back_to_list' | trans}}</a>
        </div>
        <div class="col-md-2">
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" id="delete" type="submit" value="{{'action.delete' | trans}}">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
