{% extends 'base.html.twig' %}

{% set title = 'header.title.clients' | trans %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h1>{{ 'header.title.clients' | trans }}</h1>

    <table id="table" class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>{{'list.header.id' | trans}}</th>
                <th>{{'list.header.name' | trans}}</th>
                <th>{{'list.header.actions' | trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>
                    <span>
                        <a class="btn btn-primary" href="{{ path('client_edit', { 'id': client.id }) }}">
                            <i class="fa fa-edit"></i>
                            {{'action.edit' | trans}}
                        </a>
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row-fluid">
        <div class="span12">
            <a class="btn btn-primary" href="{{ path('client_new') }}">
                <i class="fa fa-plus-circle"></i>
                {{'action.create.client' | trans}}
            </a>
        </div>
    </div>

{% endblock %}